*{
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    font-size: 16px; 
}

:root{
    /*colours*/
    --main-text-colour: #3B3B3B; 
    --trendlog-green: #00C52D;
    --black: #000000;
    --white: #FFFFFF;
    --dark-grey: #3B3B3B;
    --light-grey: #F3F3F3;
    --grey-white: #F8F7FD;
    --green: #5BB95B;
    --red: #D9544F;
    --yellow: #EEAE4D;
    --blue: #347AB5;
    
    /*font size*/
    --fontsize-xxxxl: 46px;
    --fontsize-xxxl: 38px;
    --fontsize-xxl: 28px;
    --fontsize-xl: 20px;
    --fontsize-l: 18px; 
    --fontsize-r: 16px; 
    --fontsize-s: 14px;
    --fontsize-xs: 12px;
    --fontsize-xxs: 10px;
    
    /*margin*/
    --margin-xl: 80px; 
    --margin-l: 40px; 
    --margin-r: 20px; 
    --margin-s: 15px; 
    --margin-xs: 10px; 
    --margin-xxs: 5px; 
    --margin-side: 5%; 
    
    /*padding*/
    --padding-xl: 80px;
    --padding-l: 40px;
    --padding-r: 20px;
    --padding-s: 15px;
    --padding-xs: 10px;
    --padding-xxs: 5px;
    --padding-side: 5%; 
}

h1, h2, h3, p{
    color: var(--main-text-colour); 
}

h1{
    font-size: var(--fontsize-xxxl);
    padding-bottom: var(--padding-r);
}

/*main nav*/
.header-index{
    display: none; 
    justify-content: space-between; 
    align-items: center; 
    padding: 30px 5%; 
    background-color: var(--dark-grey); 
    max-height: 30px; 
}

.nav-logo{
    cursor: pointer;
    height: 25px; 
    width: 130px; 
}

.nav-links, nav-right{
    list-style-type: none; 
}

.nav-links li, .nav-right li{
    display: inline-block;
    padding: 0 20px; 
}

.nav-links li a{
    text-decoration: none;
    color: var(--white); 
    transition: all 0.3s ease 0s; 
}

.nav-links li a:hover{
     color: var(--trendlog-green); 
}

.nav-right input{
    cursor: pointer;  
}

.nav-right input::placeholder{
    padding: 0 5px; 
}

.nav-channel, .user-name, .user-profile{
    color: var(--white); 
}

.user-profile{
    cursor: pointer; 
    transition: all 0.3s ease 0s;
}

.user-profile:hover{
    cursor: pointer; 
    color: var(--trendlog-green); 
    transition: all 0.3s ease 0s;
}

main{
    margin: var(--margin-l) var(--margin-side) 0; 
}

/*Overskrift og +-knappen*/
.heading-index{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.heading-index button{
    width: 40px;
    height: 40px; 
    background-color: var(--trendlog-green);
    cursor: pointer; 
    border: none; 
}

.heading-index .fa-plus{
    color: var(--white);
}

/*funktioner*/
.functions-index{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding-bottom: var(--padding-r);
}

/*filterfunktion*/
.filter-and-search{
    display: inline-flex; 
}

.filters-index{
    margin-right: var(--margin-r);
}

.inputfield {
    width: 50px;
}

.filters-index button{ 
    border: none; 
    padding: 0 var(--padding-xs);
    background-color: var(--white); 
    cursor: pointer;
}

.filters-index .fa-sort-amount-down-alt{
    background-color: var(--white); 
    color: var(--dark-grey); 
    font-size: 20px;
    text-align: center;
    padding-left: var(--padding-xs);
}

/*drop-down filter*/
.filters-index{
    position: relative; 
    display: inline-block; 
}

.dropdown-filter-content{
    display: none; 
    position: absolute; 
    background-color: var(--white); 
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.2); 
    z-index: 1; 
    height: 250px;
    width: 350px;
    padding: var(--padding-xs) var(--padding-r);
}

.show-filter-content{
    display:block; 
}

.filter-container{
    display: flex;
    margin-bottom: var(--margin-s); 
}

.filter-single{
    display: inline;
    margin-right: var(--margin-xs);
}

.filter-container label{
    font-size: var(--fontsize-xs); 
}

.filter-container select{
    max-width: 100px; 
}

.filters-applied{
    display: flex; 
    justify-content: space-between; 
}

.filters{
    font-weight: 900; 
}

.clear-filter{
    opacity: 0.5;  
}

.filter-btns{
    display: flex; 
    justify-content: space-between;
    margin-top: var(--margin-l);
}

.cancel-btn-filter, .apply-btn{
    width: 130px; 
    height: 30px; 
    font-size: var(--fontsize-r);
}

.cancel-btn-filter{ 
    background-color: var(--white);
    border: 1px solid var(--dark-grey);
}

.apply-btn{
    background-color: var(--green);
    font-weight: 900; 
    color: var(--);
}

/*søgefunktion*/
.search-index ::placeholder{
    font-size: var(--fontsize-xxs); 
    padding: var(--padding-xxs); 
}

.search-index button{
    width: 30px; 
    height: 30px; 
    background-color: var(--blue); 
    cursor: pointer; 
    border: none; 
}

.search-index .fa-search{
    color: var(--white); 
}

/*data table*/
table{
    width: 100%; 
}

tr{
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr))
}

.tablewrap th{
    width: 130px;
}

th{
    text-align: left;
    padding: 0 0 var(--padding-s) 0; 
    cursor: pointer; 
}

th .fa-sort{
    padding: 0 var(--padding-s);
}

td{
    text-align: left; 
    padding: var(--padding-xs) 0; 
    display: flex;
    justify-content: space-between;
}

td .fa-caret-down {
    font-size: 25px; 
    display: none;
    cursor: pointer;    
}

.td-icons {
    display: flex;
    flex-wrap: nowrap;
}

@media only screen and (max-width: 493px) {
.sortenable {
    display: none;
    }    
    
main{
    margin: var(--margin-xs) var(--margin-xs) 0; 
}    
}

@media only screen and (max-width: 616px)  {
.th-sortnservice{
    display: none;
}
}

@media only screen and (max-width: 353px) {
.th-sortgroup {
    display: none;
} 
.sorttype i{
        display: block;
}       
}

@media only screen and (max-width: 616px) and (min-width: 354px) {
.sortgroup i{
    display: block;    
}
}

@media only screen and (max-width: 737px)  {
.th-sortlservice{
    display: none;  
}
.td-icons {
    display: flex;
    flex-wrap: wrap;
}    
}

@media only screen and (max-width: 737px) and (min-width: 616px)  {
.sortnservice i{
    display: block;
}
}

@media only screen and (max-width: 859px) and (min-width: 738px)  {
.sortlservice i{
    display: block;
}
}

.fa-circle{
    font-size: var(--fontsize-xxs);
    color: var(--trendlog-green);
    margin-top: var(--margin-xs); 
}

tbody tr:nth-child(odd){
    background-color: var(--light-grey);
}

tbody tr:nth-child(even){
    border-bottom: 1px solid var(--light-grey);    
}

.bar-yellow{
    min-width: 100px; 
    height: auto; 
    background-color: var(--yellow);
    margin: 0 var(--margin-xs);
}

.fa-pen,.fa-list, .fa-history,.fa-ellipsis-h{
    padding: 0 var(--padding-xs); 
    color: var(--dark-grey);
    cursor: pointer; 
}

/*checklist*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/*modal bokse*/ 

/* Modal Content */
.modal-content {
    position: relative;
    background-color: var(--white);
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50vw;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* The Close Button */
.close {
    color: var(--dark-grey);
    padding: 0;
    margin: 0;
    font-size: var(--fontsize-xxl)
}

.close:hover,
.close:focus {
    color: var(--dark-grey);
    text-decoration: none;
    cursor: pointer;
}

.modal-button {
    text-decoration: none;
    color: var(--black);
}

.modal-body {
    height: auto;
}

/*edit + checklist*/ 
.header-checklist, .header-edit {
    display: flex; 
    justify-content: space-between; 
    padding: var(--padding-l);
}

.checklist-heading, .edit-heading{
    padding: 0 var(--padding-l);
    font-size: var(--fontsize-l);
    font-weight: 900;
}

.heading-line{
    border-bottom: 1px solid var(--dark-grey); 
    width: 250px; 
    color: var(--dark-grey);
    margin-bottom: var(--margin-r); 
}

.edit-general-information-form, .edit-service-information-form{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    flex-wrap: wrap; 
}

.edit-general-information-form-left, .edit-general-information-form-right{
    display: flex; 
    flex-direction: column;
}

.edit-general-information-form-left{
    min-width: 300px; 
}

.edit-general-information-form-right{
    min-width: 300px; 
}

.edit-general-information-form-right input{
    height: 170px;
}

.edit-service-information label{
    display: block;  
}

.edit-general-information-form-left input, .edit-general-information-form-right input, .edit-service-information-form input{
    margin-bottom: var(--margin-s); 
}

.checklist-service-information, .checklist-checklist, .checklist-comments, .edit-checklist, .add-edit, .edit-general-information-form, .edit-service-information-form, .checklist-comments-textarea{
    padding: 0 var(--padding-l);
}

.add-edit{
    margin-bottom: var(--margin-xxs); 
}

.add-edit ::placeholder{
    font-size: var(--fontsize-xxs); 
    padding: var(--padding-xxs);
}

.add-edit button{
    width: 30px; 
    height: 30px; 
    background-color: var(--blue); 
    color: var(--white);
    border: none; 
}

.edit-checklist ul li.checked::after{
    content: ""; 
    position: absolute;
    border: 0 2px 2px 0 solid var(--green);
    top: 10px; 
    left: 16px; 
    transform: rotate(45deg); 
    height: 15px; 
    width: 7px; 
}

.checklist-service-information-text{
    display: flex; 
    margin-bottom: var(--margin-r);
    flex-wrap: wrap; 
}

.checklist-service-information-text-single{
    margin-right: var(--margin-xl);
}

.checklist-service-information-description, .checklist-checklist, .edit-checklist, .edit-general-information-form{
    margin-bottom: var(--margin-r); 
}

.checklist-service-information-description-text{
    margin-bottom: var(--margin-r);
}

.checklist-list, .edit-checklist-list{
    border: 1px solid var(--dark-grey);
    display: flex; 
    flex-direction: column;
}

.checklist-list li, .edit-checklist-list li{
    cursor: pointer; 
    list-style-type: none;
    padding: var(--padding-xs); 
    border-bottom: 1px solid var(--light-grey); 
}

.checklist-checkboxes{
    display: inline-block; 
    float: right;
    width: 18px; 
    height: 18px;
    cursor: pointer; 
}

.checklist-comments{
    display: flex; 
    flex-direction: row; 
    border: 1px solid var(--dark-grey); 
    padding: var(--padding-xxs);
    height: 200px;
    margin: 0 var(--margin-l);
}

.checklist-comments-textarea{
    flex-grow: 2;   
    border: none; 
}

.checklist-comments-pictures{
    border: none; 
    background-color: var(--blue); 
    color: var(--white);
    font-size: var(--fontsize-xs);
    height: 30px;
    margin-top: 157px;
    padding: 0 var(--padding-xs); 
}

.fa-camera{
    margin-right: var(--margin-xs); 
}

.checklist-btns, .edit-btns{
    padding: var(--padding-r) var(--padding-l);
    display: flex; 
    justify-content: flex-end;
    align-items: center; 
}

.cancel-btn, .save-btn{
    border: none;
    height: 50px;
    width: 130px;
    font-size: var(--fontsize-l);
}

.cancel-btn{
    margin-right: var(--margin-l); 
    background-color: var(--white);
}

.save-btn{
    background-color: var(--green);
    font-weight: 900; 
    color: var(--white); 
}

/*dropdown functions*/
.dropdown{
    position: relative; 
    display: inline-block; 
}

.dropdown button{
    border: none; 
    background-color: transparent; 
}

.dropdown-content{
    display: none; 
    position: absolute; 
    background-color: var(--white);  
    min-width: 170px;
    overflow: auto; 
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.2);
    z-index: 1; 
}

.dropdown-content a{
    color: var(--dark-grey); 
    padding: var(--padding-xs);
    text-decoration: none; 
    display: block; 
    border-bottom: 1px solid var(--light-grey);
}

.dropdown-content a:hover{
    background-color: var(--light-grey); 
}

.dropdown-content i{
    margin-right: var(--margin-xs); 
}

.service-flag{
    background-color: var(--green);
    font-size: 6px; 
    color: var(--white);
    width: 20px;
    height: 10px;
    display: inline-block;
    margin-right: var(--margin-xxs);
    text-align: center;
}

.show{
    display: block; 
}

/*warning message delete*/

/*pagination*/
.pagination-index{
    display: flex; 
    justify-content: flex-end; 
    margin-top: var(--margin-r); 
}

.pagination-index a{  
    color: var(--dark-grey); 
    text-decoration: none; 
    padding: var(--padding-xs) var(--padding-r); 
}

.pagination-index a.pagination-active{
    font-weight: 900; 
}

.quantity-index {
    display: flex;
}

.quantity-index i{
    padding: var(--padding-xxs)
}

@media only screen and (max-width: 537px)  {
.paragraf-entry-index {
    display: none;
}
}

@media only screen and (max-width: 836px)  {
.paragraf-entry-history {
    display: none;
}
}