*{
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    font-size: 16px; 
}

:root{
    /*colours*/
    --main-text-colour: #3B3B3B; 
    --trendlog-green: #00C52D;
    --black: #000000;
    --white: #FFFFFF;
    --dark-grey: #3B3B3B;
    --light-grey: #F3F3F3;
    --grey-white: #F8F7FD;
    --green: #5BB95B;
    --red: #D9544F;
    --yellow: #EEAE4D;
    --blue: #347AB5;
    
    /*font size*/
    --fontsize-xxxxl: 46px;
    --fontsize-xxxl: 38px;
    --fontsize-xxl: 28px;
    --fontsize-xl: 20px;
    --fontsize-l: 18px; 
    --fontsize-r: 16px; 
    --fontsize-s: 14px;
    --fontsize-xs: 12px;
    --fontsize-xxs: 10px;
    
    /*margin*/
    --margin-xl: 80px; 
    --margin-l: 40px; 
    --margin-r: 20px; 
    --margin-s: 15px; 
    --margin-xs: 10px; 
    --margin-xxs: 5px; 
    --margin-side: 5%; 
    
    /*padding*/
    --padding-xl: 80px;
    --padding-l: 40px;
    --padding-r: 20px;
    --padding-s: 15px;
    --padding-xs: 10px;
    --padding-xxs: 5px;
    --padding-side: 5%; 
}

h1, h2, h3, p{
    color: var(--main-text-colour); 
}

h1{
    font-size: var(--fontsize-xxxl);
    padding-bottom: var(--padding-r);
}

/*main nav*/
.header-index{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 30px 5%; 
    background-color: var(--dark-grey); 
    max-height: 30px; 
}

.nav-logo{
    cursor: pointer;
    height: 25px; 
    width: 130px; 
}

.nav-links, nav-right{
    list-style-type: none; 
}

.nav-links li, .nav-right li{
    display: inline-block;
    padding: 0 20px; 
}

.nav-links li a{
    text-decoration: none;
    color: var(--white); 
    transition: all 0.3s ease 0s; 
}

.nav-links li a:hover{
     color: var(--trendlog-green); 
}

.nav-right input{
    cursor: pointer;  
}

.nav-right input::placeholder{
    padding: 0 5px; 
}

.nav-channel, .user-name, .user-profile{
    color: var(--white); 
}

.user-profile{
    cursor: pointer; 
    transition: all 0.3s ease 0s;
}

.user-profile:hover{
    cursor: pointer; 
    color: var(--trendlog-green); 
    transition: all 0.3s ease 0s;
}

main{
    margin: var(--margin-l) var(--margin-side) 0;
}

/*fixed header and functions*/
.heading-index{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.heading-index button{
    width: 40px;
    height: 40px; 
    background-color: var(--dark-grey);
    cursor: pointer; 
    border: none; 
}

.heading-index .fa-plus{
    color: var(--white);
}

.functions-index{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.search-index ::placeholder{
    font-size: var(--fontsize-xxs); 
    padding: var(--padding-xxs); 
}

.search-index button{
    width: 30px; 
    height: 30px; 
    background-color: var(--dark-grey); 
    cursor: pointer; 
    border: none; 
}

.search-index .fa-search{
    color: var(--white); 
}

/*data table*/
table{
    width: 100%; 
}

th{
    text-align: left;
    padding: 0 0 var(--padding-s) 0; 
}

th .fa-sort{
    padding: 0 var(--padding-s);
}

td{
    text-align: left; 
    padding: var(--padding-xs) var(--padding-xxs); 
}

.fa-circle{
    font-size: var(--fontsize-xxs); 
}

tbody tr:nth-child(odd){
    background-color: var(--light-grey);
}

/*pagination*/
.pagination-index{
    display: flex; 
    justify-content: flex-end; 
}

.pagination-index a{  
    color: var(--dark-grey); 
    text-decoration: none; 
    padding: var(--padding-xs) var(--padding-r); 
}

.pagination-index a.pagination-active{
    font-weight: 900; 
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/*modal bokse*/ 

/* Modal Content */
.modal-content {
    position: relative;
    background-color: var(--white);
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50vw;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* The Close Button */
.close {
    color: var(--dark-grey);
    padding: 0;
    margin: 0;
    font-size: var(--fontsize-xxl)
}

.close:hover,
.close:focus {
    color: var(--dark-grey);
    text-decoration: none;
    cursor: pointer;
}

.modal-button {
    text-decoration: none;
    color: var(--black);
}

.modal-body {
    height: auto;
}

<p style="text-decoration: underline;">

.button1 {
   background-color: #5BB95B
  border: none;
  color: white;
  padding: 30px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;  
}

.button2 {
  background-color: #347AB5
  border: none;
  color: white;
  padding: 30px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.name{
    margin: 25px;
}

.type{
    margin: 25px;
}

.group{
    margin: 25px;
}

.last-service{
    margin: 25px;
}

.service-interval{
    margin: 25px;
}

.time-interval{
    margin: 25px;
}

.next-service{
    margin: 25px;
}

.notify-days{
    margin: 25px;
}

.notify-to-email{
    margin: 25px;
}

.container-1{
    display: flex;
     border: 1px #ccc solid;
    padding: 10px;
}

}
.container-2{
    display: flex;
     border: 1px #ccc solid;
    padding: 10px;
    flex-direction: column;
}

}
.container-3{
    display: flex;
     border: 1px #ccc solid;
    padding: 10px;
}

.box-1{
    flex:1;
    order: 1;
}

.box-2{
    flex: 1;
    order: 2;
}

.box-3{
 flex:1;
order: 1;   
}

.box-4{
 flex:1;
order: 2;   
}

.box-5{
flex: 1
}


.file {
background-color: #347AB5
  border: none;
  color: white;
  padding: 60px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.form2 {
    display: inline-block;
    width: auto;
}

.tasker ul, .tasker li,
.tasker .error,
.tasker button,
.tasker input {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
}

.tasker-header button, .tasker-body .task button {
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

body {
  background: #f1f1f1;
  margin-top: 2rem;
}

.tasker {
  max-width: 400px;
  margin: 0 auto;
}

.tasker .error {
  display: none;
  background: rgba(237, 28, 36, 0.7);
  color: #fff;
  padding: 14px;
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: center;
}

.tasker ul {
  background: #fff;
}

.tasker li,
.tasker .error,
.tasker button,
.tasker input {
  font: 18px/1.25em Helvetica, Arial, Sans-serif;
}

.tasker-header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background: #fff;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.tasker-header input,
.tasker-header button {
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1.25em;
  padding: 14px;
}

.tasker-header input {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.tasker-header button {
  background: #347AB5;
  border-left: 1px solid #1eddb8;
}

.tasker-body .task {
  display: block;
  position: relative;
  padding: 14px 40px 14px 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.tasker-body .task:last-child {
  border-bottom: none;
}

.tasker-body .task input {
  margin-right: 10px;
}

.tasker-body .task button {
  color: #000000;
  margin: 14px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}
