*{
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    font-size: 16px; 
}

:root{
    /*colours*/
    --main-text-colour: #3B3B3B; 
    --trendlog-green: #00C52D;
    --black: #000000;
    --white: #FFFFFF;
    --dark-grey: #3B3B3B;
    --light-grey: #F3F3F3;
    --grey-white: #F8F7FD;
    --green: #5BB95B;
    --red: #D9544F;
    --yellow: #EEAE4D;
    --blue: #347AB5;
    --light-blue: #B8D0E5;    
    
    /*font size*/
    --fontsize-xxxxl: 46px;
    --fontsize-xxxl: 38px;
    --fontsize-xxl: 28px;
    --fontsize-xl: 20px;
    --fontsize-l: 18px; 
    --fontsize-r: 16px; 
    --fontsize-s: 14px;
    --fontsize-xs: 12px;
    --fontsize-xxs: 10px;
    
    /*margin*/
    --margin-xl: 80px; 
    --margin-l: 40px; 
    --margin-r: 20px; 
    --margin-s: 15px; 
    --margin-xs: 10px; 
    --margin-xxs: 5px; 
    --margin-side: 5%; 
    
    /*padding*/
    --padding-xl: 80px;
    --padding-l: 40px;
    --padding-r: 20px;
    --padding-s: 15px;
    --padding-xs: 10px;
    --padding-xxs: 5px;
    --padding-side: 5%; 
}

h1, h2, h3, p{
    color: var(--main-text-colour); 
}

.h1{
    font-size: var(--fontsize-xxxl);
    padding-bottom: var(--padding-r);
}

/*main nav*/
.header-index{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    padding: 30px 5%; 
    background-color: var(--dark-grey); 
    max-height: 30px; 
}

@media only screen and (max-width: 1553px) {
.header-index .nav-right {
    display: none;
}
}

@media only screen and (max-width: 1125px) {
.header-index .nav-links {
    display: none;
}
}

@media only screen and (max-width: 1553px) {
.burgermenu {
    color: var(--white);
    display: block;
    cursor: pointer;
}

.burgermenu i {
    font-size: 30px;
}
.burgermenu i {
    text-decoration: none;
    color: var(--white); 
    transition: all 0.3s ease 0s; 
}

.burgermenu i:hover{
     color: var(--green); 
}    
}


.nav-logo{
    cursor: pointer;
    height: 25px; 
    width: 130px; 
}

.nav-links, nav-right{
    list-style-type: none; 
}

.nav-links li, .nav-right li{
    display: inline-block;
    padding: 0 20px; 
}

.nav-links li a{
    text-decoration: none;
    color: var(--white); 
    transition: all 0.3s ease 0s; 
}

.nav-links li a:hover{
     color: var(--green); 
}

.nav-right input{
    cursor: pointer;  
}

.nav-right input::placeholder{
    padding: 0 5px; 
}

.nav-channel, .user-name, .user-profile{
    color: var(--white); 
}

.user-profile{
    cursor: pointer; 
    transition: all 0.3s ease 0s;
}

.user-profile:hover{
    cursor: pointer; 
    color: var(--trendlog-green); 
    transition: all 0.3s ease 0s;
}

main{
    margin: var(--margin-l) var(--margin-side) 0; 
}

/*Overskrift og +-knappen*/
.heading-index{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.heading-index a{
    width: 40px;
    height: 40px; 
    background-color: var(--trendlog-green);
    cursor: pointer; 
    border: none; 
}

.fa-plus{
    color: var(--white); 
    font-size: var(--fontsize-xl); 
    padding-left: var(--padding-xs);
    padding-top: var(--padding-xs);
}

.heading-index .fa-plus{
    color: var(--white);
}

/*funktioner*/
.functions-index{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding-bottom: var(--padding-r);
}

/*Entries per page*/
.paragraf-entry-index{
    margin-left: var(--margin-xs);
    width: 110px;
    color: var(--black);
    height: 31px;
}

#pagenmb {
    width: 50px;
    height: 31px;     
}

/*filterfunktion*/
.filter-and-search{
    display: inline-flex;
}
.search-index {
    border: 1px solid var(--dark-grey);
}

#searchbar {
    border: none;
}
    
.filters-index{
    margin-right: var(--margin-r);
}

@media only screen and (max-width: 463px) {
.filter-and-search{
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
}
.search-index {
    width: 100%;
    display: flex;
    justify-content: space-between;
}  
#searchbar {
    width: 100%;
}    
}

.inputfield {
    width: 50px;
}

.filters-index button{ 
    border: none; 
    background-color: var(--white); 
    cursor: pointer;
    height: 31px;    
}

.filters-index button img{ 
    padding-left: var(--padding-xxs);
    height: 16px;    
}

.filters-index .fa-sort-amount-down-alt{
    background-color: var(--white); 
    color: var(--dark-grey); 
    font-size: 20px;
    text-align: center;
    padding-left: var(--padding-xs);
}

/*drop-down filter*/
.filters-index{
    position: relative; 
    display: inline-block; 
}

.dropdown-filter-content{
    display: none; 
    position: absolute; 
    background-color: var(--white); 
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.2); 
    z-index: 1; 
    height: 250px;
    width: 350px;
    padding: var(--padding-xs) var(--padding-r);
}

.show-filter-content{
    display:block; 
}

.filter-container{
    display: flex;
    margin-bottom: var(--margin-s); 
}

.filter-single{
    display: inline;
    margin-right: var(--margin-xs);
}

.filter-container label{
    font-size: var(--fontsize-xs); 
}

.filter-container select{
    max-width: 100px; 
}

.filters-applied{
    display: flex; 
    justify-content: space-between; 
}

.filters{
    font-weight: 900; 
}

.clear-filter{
    opacity: 0.5;  
}

.filter-btns{
    display: flex; 
    justify-content: space-between;
    margin-top: var(--margin-l);
}

.cancel-btn-filter, .apply-btn{
    width: 130px; 
    height: 30px; 
    font-size: var(--fontsize-r);
}

.filter-btns .cancel-btn-filter{ 
    background-color: var(--white);
    border: 1px solid var(--dark-grey);
}

.filter-btns .apply-btn{
    background-color: var(--green);
    font-weight: 900; 
    color: var(--white);
}

/*søgefunktion*/
.search-index ::placeholder{
    font-size: var(--fontsize-xxs); 
    padding: var(--padding-xxs); 
}

.search-index button{
    width: 30px; 
    height: 30px; 
    background-color: var(--blue); 
    cursor: pointer; 
    border: none; 
}

.search-index .fa-search{
    color: var(--white); 
}

/*data table*/
table{
    width: 100%; 
}

tr{
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr))
}

.tabcontent tr {
    grid-column-gap: 10px;
}

.tablewrap th{
    width: 130px;
}

th{
    text-align: left;
    padding: 0 0 var(--padding-s) 0; 
    cursor: pointer; 
}

th .fa-sort{
    padding: 0 var(--padding-s);
}

td{
    text-align: left; 
    padding: var(--padding-xs) 0; 
    display: flex;
    justify-content: space-between;
}

td .fa-caret-down {
    font-size: 25px; 
    display: none;
    cursor: pointer;    
}

.td-icons {
    display: flex;
    flex-wrap: nowrap;
}

@media only screen and (max-width: 493px) {
.sortenable {
    display: none;
    }    
    
main{
    margin: var(--margin-xs) var(--margin-xs) 0; 
}    
}

}

@media only screen and (max-width: 353px) {
.th-sortgroup {
    display: none;
} 
.sorttype i{
        display: block;
}       
}

@media only screen and (max-width: 616px) and (min-width: 494px) {
.sortgroup i{
    display: block;    
}
}

@media only screen and (max-width: 737px)  {
.th-sortlservice{
    display: none;  
}
.td-icons {
    display: flex;
    flex-wrap: wrap;
}    
}

@media only screen and (max-width: 737px) and (min-width: 616px)  {
.sortnservice i{
    display: block;
}
}

@media only screen and (max-width: 859px) and (min-width: 738px)  {
.sortlservice i{
    display: block;
}
}

@media only screen and (max-width: 615px) and (min-width: 493px) {
.th-sortnservice {
    display: none;
}
}

@media only screen and (max-width: 463px) and (min-width: 100px) {
.th-sortnservice{
    display: none;
}
.sortnservice i{
    display: none;
}
.sortgroup i{
    display: block;
}
}

@media only screen and (max-width: 463px) and (min-width: 100px) {
.th-sortnservice{
    display: none;
}
.sortnservice i{
    display: none;
}
.sortgroup i{
    display: block;
}
}

.fa-circle{
    font-size: var(--fontsize-xxs);
    color: var(--trendlog-green);
    margin-top: var(--margin-xs); 
}

tbody tr:nth-child(odd){
    background-color: var(--light-grey);
}

tbody tr:nth-child(even){
    border-bottom: 1px solid var(--light-grey);    
}

.bar-yellow{
    min-width: 100px; 
    height: auto; 
    background-color: var(--yellow);
    margin: 0 var(--margin-xs);
}

.fa-pen,.fa-list, .fa-history,.fa-ellipsis-h{
    padding: 0 var(--padding-xs); 
    color: var(--dark-grey);
    cursor: pointer; 
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/*modal bokse*/ 

/* Modal Content */
.modal-content {
    position: relative;
    background-color: var(--white);
    margin: auto;
    padding: var(--padding-xl);
    border: 1px solid #888;
    width: 50vw;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* The Close Button */
.close {
    color: var(--dark-grey);
    padding: 0;
    margin: 0;
    font-size: var(--fontsize-xxl);
    cursor: pointer;
}

.modal-button {
    text-decoration: none;
    color: var(--black);
}

.modal-body {
    height: auto;
}

/*create + edit + checklist + history*/ 
.header-create, .header-checklist, .header-edit, .service-header-history {
    display: flex; 
    justify-content: space-between; 
    background: var(--white);
}

.create-heading, .checklist-heading, .edit-heading .service-header-history{
    padding: 0 var(--padding-l);
    font-size: var(--fontsize-l);
    font-weight: 900;
}

.heading-line{
    border-bottom: 1px solid var(--dark-grey); 
    padding: 0;
    width: 250px; 
    color: var(--dark-grey);
    margin-bottom: var(--margin-r); 
    font-weight: bold;
}

.history-heading-line{
    margin-left: 0;    
}

.edit-service-information {
    width: 100%;
}

.edit-general-information-form, .edit-service-information-form, .create-general-information-form, .create-service-information-form{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    flex-wrap: wrap; 
 
}

.create-service-information, edit-service-information{
    display: flex; 
    flex-wrap: wrap; 
}

.create-service-information-single, .edit-service-information-single{
    margin-right: var(--margin-xxs); 
}

.edit-general-information-form-left, .edit-general-information-form-right, .create-general-information-form-left, .create-general-information-form-right{
    display: flex; 
    flex-direction: column;
}

.edit-general-information-form-left, .create-general-information-form-left{
    min-width: 300px; 
}

.edit-general-information-form-right, .create-general-information-form-right{
    min-width: 300px; 
}

.edit-general-information-form-right input, .create-general-information-form-right input{
    height: 170px;
}

.edit-service-information label, .create-service-information label{
    display: block;  
}

.edit-general-information-form-left input, .edit-general-information-form-right input, .edit-service-information-form input, .create-general-information-form-left input, .create-general-information-form-right input, .create-service-information-form input{
    margin-bottom: var(--margin-s); 
}

.add-edit, .add-create{
    margin-bottom: var(--margin-xxs); 
}

.add-edit ::placeholder, .add-create ::placeholder{
    font-size: var(--fontsize-xxs); 
    padding: var(--padding-xxs);
}

.add-edit button, .add-create button{
    width: 30px; 
    height: 30px; 
    background-color: var(--blue); 
    color: var(--white);
    border: none; 
}

.edit-checklist ul li.checked::after, .create-checklist ul li.checked::after{
    content: ""; 
    position: absolute;
    border: 0 2px 2px 0 solid var(--green);
    top: 10px; 
    left: 16px; 
    transform: rotate(45deg); 
    height: 15px; 
    width: 7px; 
}

.checklist-service-information-text{
    display: flex; 
    margin-bottom: var(--margin-r);
    flex-wrap: wrap; 
}

.checklist-service-information-text-single{
    margin-right: var(--margin-xl);
}

.checklist-service-information-description, .checklist-checklist, .edit-checklist, .edit-general-information-form, .create-checklist, .create-general-information-form{
    margin-bottom: var(--margin-r); 
}

.checklist-service-information-description-text{
    margin-bottom: var(--margin-r);
}

.tasker-header{
    display: flex;
}

.tasker{
    margin-bottom: var(--margin-xs);
}

.tasker ::placeholder{
    font-size: var(--fontsize-xs); 
    padding: var(--padding-xxs);
}

.tasker button{
    background-color: var(--blue); 
    border: none; 
    height: 30px; 
    width: 30px; 
    cursor: pointer; 
}

.checklist-list, .edit-checklist-list, .create-checklist-list{
    border: 1px solid var(--dark-grey);
    display: flex; 
    flex-direction: column;
}

.checklist-list li, .edit-checklist-list li, .create-checklist-list li{
    cursor: pointer; 
    list-style-type: none;
    padding: var(--padding-xs); 
    border-bottom: 1px solid var(--light-grey); 
    display: flex; 
    justify-content: space-between; 
}

.create-checklist-list i, .edit-checklist-list i{
    margin: 0 var(--margin-s);
}

.checklist-checkboxes{
    display: inline-block; 
    float: right;
    width: 18px; 
    height: 18px;
    cursor: pointer; 
}

.checklist-comments{
    display: flex; 
    flex-direction: row; 
    border: 1px solid var(--dark-grey); 
    padding: var(--padding-xxs);
    height: 200px;
}

.checklist-comments-textarea{
    flex-grow: 2;   
    border: none; 
}

.checklist-comments-pictures{
    border: none; 
    background-color: var(--blue); 
    color: var(--white);
    font-size: var(--fontsize-xs);
    height: 30px;
    margin-top: 157px;
    padding: 0 var(--padding-xs); 
}

.fa-camera{
    margin-right: var(--margin-xs); 
}

.checklist-btns, .edit-btns, .create-btns{
    padding: var(--padding-r) 0;
    display: flex; 
    justify-content: flex-end;
    align-items: center; 
}

.cancel-btn, .save-btn{
    border: none;
    height: 50px;
    width: 130px;
    font-size: var(--fontsize-l);
}

.cancel-btn{
    margin-right: var(--margin-l); 
    background-color: var(--white);
}

.save-btn{
    background-color: var(--green);
    font-weight: 900; 
    color: var(--white); 
}

/*dropdown functions*/
.dropdown{
    position: relative; 
    display: inline-block; 
}

.dropdown button{
    border: none; 
    background-color: transparent; 
}

.dropdown-content{
    display: none; 
    position: absolute; 
    background-color: var(--white);  
    min-width: 170px;
    overflow: auto; 
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.2);
    z-index: 1; 
}

.dropdown-content a{
    color: var(--dark-grey); 
    padding: var(--padding-xs);
    text-decoration: none; 
    display: block; 
    border-bottom: 1px solid var(--light-grey);
}

.dropdown-content a:hover{
    background-color: var(--light-grey); 
}

.dropdown-content i{
    margin-right: var(--margin-xs); 
}

.service-flag{
    background-color: var(--green);
    font-size: 6px; 
    color: var(--white);
    width: 20px;
    height: 10px;
    display: inline-block;
    margin-right: var(--margin-xxs);
    text-align: center;
}

.show{
    display: block; 
}

/*pagination*/
.pagination-index{
    display: flex; 
    justify-content: flex-end; 
    margin-top: var(--margin-r); 
}

.pagination-index a{  
    color: var(--dark-grey); 
    text-decoration: none; 
    padding: var(--padding-xs) var(--padding-r); 
}

.pagination-index a.pagination-active{
    font-weight: 900; 
}

.quantity-index {
    display: flex;
}

@media only screen and (max-width: 537px)  {
.paragraf-entry-index {
    display: none;
}
}

@media only screen and (max-width: 836px)  {
.paragraf-entry-history {
    display: none;
}
}

@media only screen and (max-width: 593px) {
.sorttime{
    display: none;
  }  
}

@media only screen and (max-width: 473px)  {
.sortservice{
    display: none;
  }  
}

 /*Hitorik css*/

.bar-lightblue{ 
    height: auto; 
    background-color: var(--lightblue);
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.bar100 {
    background: linear-gradient(90deg, var(--light-blue) 100%, rgba(256,256,256,0.0) 0%);    
}

.bar33 {
    background: linear-gradient(90deg, var(--light-blue) 33%, rgba(256,256,256,0.0) 0%);    
}

.bar66 {
    background: linear-gradient(90deg, var(--light-blue) 66%, rgba(256,256,256,0.0) 0%);    
}


@media only screen and (max-width: 353px) {
.sortprogress{
    display: none;
  }     
}

@media only screen and (max-width: 713px) and (min-width: 594px)  {
.history-table-content5 i{
    display: block;
  }   
}    

@media only screen and (max-width: 593px) and (min-width: 474px)  {
.history-table-content4 i{
    display: block;
  }    
}

@media only screen and (max-width: 473px) and (min-width: 354px)  {
.history-table-content3 i{
    display: block;
  }      
}

@media only screen and (max-width: 353px) {
.history-table-content2 i{
    display: block;
  }      
}

/*expand start*/
@media only screen and (max-width: 713px) {
.first-time {
    padding: 0;                
}    
    
.first-time div{
    display: none;
}
}

@media only screen and (max-width: 593px) {
.history-table-content5 {
    padding: 0;                
}  
    
.history-table-content5 div{
    display: none;
}
}
    
@media only screen and (max-width: 473px) {
.history-table-content4 {
    padding: 0;                
}      
    
.history-table-content4 div{
    display: none;
}    
}
    
@media only screen and (max-width: 353px) {
.history-table-content3 {
    padding: 0;                
}      
    
.history-table-content3 div{
    display: none;
}           
}

@media only screen and (max-width: 859px) {
.td-icons {
    padding: 0;       
}     

.td-icons .expand1, .td-icons .expand2, .td-icons .expand3, .td-icons .expand4, .td-icons .expand5, .td-icons .expand6, .td-icons .expand7, .td-icons .expand8, .td-icons .expand8, .td-icons .expand9, .td-icons .expand10{
    display: none;
}  
}

@media only screen and (max-width: 615px) {
.sortnservice {
    padding: 0;       
}     

.sortnservice div{
    display: none;
}       
}

@media only screen and (max-width: 494px) {
.sortnservice {
    padding: 0;       
}     

.sortnservice div{
    display: block;
}     
    
.sortnservice i{
    display: block;
}     
}

@media only screen and (max-width: 463px) {
.sortnservice {
    padding: 0;       
}     

.sortnservice div{
    display: none;
}     
    
.sortnservice i{
    display: none;
}     
}

@media only screen and (max-width: 737px) {
.sortlservice {
    padding: 0;       
}     

.sortlservice div{
    display: none;
}       
}

@media only screen and (max-width: 353px) {
.sortgroup {
    padding: 0;       
}     

.sortgroup div{
    display: none;
}
    
.sortgroup i {
    display: none;
}    
.sorttype i {
    display: block;
} 
.th-sortgroup {
    display: none;
}    
}

/*expand end*/
.modal-button {
    text-decoration: none;
    color: var(--black);
}


.service-user {   
    width: 45%;  
    padding-bottom: var(--padding-s);
}

.service-description {
    width: 45%;
}
    
@media only screen and (max-width: 530px)  {
.service-description {
    width: auto;

}
.service-user { 
    width: auto;
}
}

.service-information {
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: var(--padding-s);
}

.paragraf-wrap {
    display: flex;
}

.paragraf-headline {
    font-weight: bold;
    margin-right: var(--margin-s)
}

.paragraf-document {
    cursor: pointer;
    color: var(--blue);
    font-size: 14px;
}

@media only screen and (max-width: 1164px) and (min-width: 545px)  {
/* The Modal (background) */
.modal-content {
    position: relative;
    background-color: var(--white);
    margin: auto;
    padding: var(--padding-l);
    border: 1px solid #888;
    min-width: 540px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
}

@media only screen and (max-width: 544px) and (min-width: 464px)  {
/* The Modal (background) */
.modal-content {
    position: relative;
    background-color: var(--white);
    margin: auto;
    padding: var(--padding-r);
    border: 1px solid #888;
    min-width: 464px;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
}

@media only screen and (max-width: 464px)  {
/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 0vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.0); /* Black w/ opacity */
}  

.modal-content {
    position: relative;
    background-color: var(--white);
    margin: auto;
    padding: var(--padding-s);
    border: 1px solid #888;
    width: 100%;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}  
}

.service-checklist {
    border-top: solid 1px var(--light-grey);    
    margin-bottom: var(--padding-s);    
}

.service-progress {
    text-align: center;
    font-weight: 600;
    height: 36px;
    padding: var(--padding-xxs);
    color: white;
    border-bottom: solid 1px var(--light-grey);
    background: linear-gradient(90deg, var(--blue) 100%, var(--light-blue) 0%);    
}

.service-progress-66 {
    text-align: center;
    font-weight: 600;
    height: 36px;
    padding: var(--padding-xxs);
    color: white;
    border-bottom: solid 1px var(--light-grey);
    background: linear-gradient(90deg, var(--blue) 66%, var(--light-blue) 0%);    
}

.service-progress-33 {
    text-align: center;
    font-weight: 600;
    height: 36px;
    padding: var(--padding-xxs);
    color: white;
    border-bottom: solid 1px var(--light-grey);
    background: linear-gradient(90deg, var(--blue) 33%, var(--light-blue) 0%);    
}

.service-checklist-wrap {
    display: flex;
    justify-content: space-between; 
    border-bottom: solid 1px var(--light-grey);    
}

.service-checklist-wrap p{
    padding: var(--padding-xs);
}

.service-comments {
    margin-bottom: var(--margin-s);    
}

.service-images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: var(--margin-s);   
}

.service-images img {
    width: 10vw;
    min-width: 130px;  
}

.service-checklist-line {
    border-top: solid 1px;
}

.tabcontent {
    display: none;
}

section[class*="tabcontent"]:first-of-type {
    display: block;
}

.tablinks {
    cursor: pointer;    
}

.printicon {
    text-align: center;     
    width: 100%;
}

.fa-print {     
    font-size: 50px;
    padding: var(--padding-r) 0 0 0;   
    margin-bottom: var(--padding-r)
}

.close-button {
    font-size: 30px; 
}

iframe {
    width: 100%;
    height: 500px;
    border: none;
    background: var(--white);
}

@media only screen and (max-width: 463px) {
iframe {
    width: 100%;
    height: 100vh;
    border: none;
    padding: 0;
}
    
.tabcontent {
    padding: 0; 
    height: auto;
    min-height: 100vh;
    background: white;
}    
.quantity-index {
    display: none;
}  

/*pagination*/
.pagination-index{
    display: flex; 
    justify-content: center;  
}

.pagination-index a{  
    padding: var(--padding-xs) var(--padding-xs); 
}    
}


.fa-arrow-alt-circle-left {
    font-size: 30px;
}
   
.hide {
    display: block;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;    
}

.rowline {
    width: 250px;    
    display: flex;
    flex-wrap: wrap;
}

.rowline-description {
    width: 50%;
    min-width: 250px;
    margin-left: var(--margin-s);    
}
@media only screen and (max-width: 1384px) {
.rowline-description {
    width: 100%; 
    min-width: 0px;
    margin-left: 0;        
}
}

.rowline-description textarea{
    width: 100%;
    height: 132px;
}

.rowline input, select, textarea {
    width: 100%;
    padding: 0;
    margin: 0;
    height: auto;
    border: 1px solid var(--black);
}

.row error {
    color: var(--red);
}

.rowline-checklist {
    width: 100%;
}

.rowline-checklist input {
    height: 100%;
    border: none;
}

.tasker {
    width: 100%;    
}

.tasker .error {
    display: none;   
}

.tasker-header {
    width: 250px;
    border: 1px solid var(--black);  
    height: 30px;
    margin-bottom: var(--padding-s);
}

.tasker input {
    width: 100%;
}

.tasker-body {
    border: 1px solid var(--dark-grey);    
}

.tasker-body .task {
  display: block;
  position: relative;
  padding: 14px 40px 14px 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.tasker-body .task:last-child {
    border-bottom: none;
}

.tasker-body .task:hover > button {
  opacity: 1;
}

.tasker-body .task.completed {
  color: #cdcdcd;
  text-decoration: line-through;
}

.tasker-body .task button {
  color: #cdcdcd;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}

.tasker-body .task button:hover {
  color: #ed1c24;
}

#add-task-btn, #add-task-btn1 {
    color: var(--white); 
    font-size: var(--fontsize-r); 
    border: none;
    padding: 0;
    margin: 0;
    padding-left: 0;
    padding-top: var(--padding-xxxs);
    height:28px;
}

.error {
    color: var(--red);
    padding-bottom: var(--padding-xs);
}


/* The Modal (background) */
.pop-message {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/*modal bokse*/ 

/* Modal Content */
.pop-message-content {
    position: relative;
    background-color: var(--white);
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 300px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.pop-message-button {
    text-decoration: none;
    color: var(--black);
}

.pop-message-body {
    height: auto;
}

.pop-message-inner-body {
    display: flex;
    justify-content: center;
    padding-top: 30px;    
}

/* The Close Button */
.pop-message-close {
    color: var(--white);
    font-size: var(--fontsize-xxl);
    cursor: pointer;
    background: var(--green);
    width: 100px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

.pop-message-header-create {
    display: flex;
    justify-content: flex-end;
    background-color: var(--green);
    height: 30px;
    padding: 0;  
}

.green-circel {
    width: 75px;
    height: 75px;
    border-radius: 75px;
    background: var(--green);    
    text-align: center;
    padding-top: 13px;
}

.green-circel i {
    font-size: 50px; 
    color: var(--white)
}

.sortnservice {
    color: var(--white)
}

.sortnservice .expand1{
    background-color: var(--red);
    width: 100%
}

.sortnservice .expand2, .sortnservice .expand3, .sortnservice .expand4 {
    background-color: var(--yellow);
    width: 100%    
}

.sortnservice .expand5, .sortnservice .expand6, .sortnservice .expand7, .sortnservice .expand8, .sortnservice .expand9, .sortnservice .expand10 {
    background-color: var(--blue);
    width: 100%    
}